<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
    <style>
        
    </style>
</head>
<body>
    <h1>Profile</h1>
    <div class="account-settings">
        <form action = "/account-settings" method = "post">
            <button>Account Settings</button>
        </form>
    </div>
    <div class="history">
        <form action = "/history" method = "post">
            <button>Account History</button>
        </form>
    </div>
    <div class="friends-button">
        <form action = "/friendslist" method = "post">
            <button>Friends</button>
        </form>
    </div>

</body>
</html>
