<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
    <style>
        
    </style>
</head>
<body>

<!-- all of these will be form action statements once db is setup w/ mongo database-->
<!-- Uname settings button -->    
<div class="uname-settings"></div>
    <a href = "/unamesettings.html">Change Username</a>
</div>

<!-- Pword settings button -->
<div class="pw-settings">
    <a href = "/pwsettings.html">Change Password</a>
</div>

<body>
<!-- Friends button -->    
<div class="friends">
    <a href = "/friendslist.html">Friends</a>
</div>

<!-- Account history button -->
<div class="history-button">
    <a href = "/history.html">Account History</a>
</div>

</body>
</html>
